
<!--
<p>Hola Mundo</p>

<h2>Datos de la pelicula</h2>
<div>Nombre: {{pelicula.nombre | uppercase}}</div>
<div>Fecha de lanzamiento: {{pelicula.fechaDeLanzamiento | date:'dd/MMMM/yyyy'}}</div>

<h3>Usar una funcion con interpolacion</h3>
<p>El doble de 3 es: {{duplicarValor(3)}}</p>
-->

<h3>Estrenos</h3>

<app-listado-peliculas [peliculas] = 'peliculasEstrenos'></app-listado-peliculas>

<h3>Proximos lanzamientos</h3>

<app-listado-peliculas [peliculas] = 'proximosLanzamientos'></app-listado-peliculas>

